body{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 1%;
    width: 360px;
    max-width: 100%;
    height: 590px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 03px 04px 06px;
}

.form{
    margin-top: 2%;
    width: 300px;
    max-width: 100%;
}

.result{
    margin-top: 12%;
    width: 360px;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    border-radius: 20px;
    box-shadow: 03px 04px 06px;
}

.item-imagem-result{
    margin-top: 2%;
}

.resultado{
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    font-size: 1rem;
    font-family: Arial;
    text-align: justify;
}

.titulo{
    text-align: center;
    font-size: 1.8rem;
    font-family: Bebas Neue;
    letter-spacing: 1px;
    color: #003866;
}

img{
    width: 140px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.text-escrita{
    color: #003866;
}

.input-box{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.input-box input{
    margin: 0 auto;
    width: 200px;
    max-width: 100%;
    height: 24px;
    max-height: 100%;
    border-radius: 6px;
    margin-bottom: 10%;
    background-color: rgb(197, 222, 255);
}

.input-box label{
    margin: 0 auto;
    font-family: Bebas Neue;
    letter-spacing: 1px;
    font-size: 1.3rem;
}

.botao-div button{
    margin: 0 auto;
    border: none;
    color: white;
    width: 100px;
    max-width: 100%;
    height: 28px;
    max-height: 100%;
    border-radius: 4px;
    cursor: pointer;
    background-color:#003866;
}