
/* ZERANDO MARGENS */

* {
    margin: 0;
    padding: 0;
}

/* ESTILO DE SCROLL PARA A PÁGINA */

html{
    scroll-behavior: smooth;
}

/* COR DE FUNDO DA PÁGINA */

body{
    background-color: whitesmoke;
}

/* TAMANHO DO CONTAINER QUE ARMAZENA TODAS AS INFORMACOES DA PÁGINA */

.container{
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

/* TAMANHO E POSICIONAMENTO DO FORMULARIO */

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* ESTILO, TAMANHO E POSICIONAMENTO DAS INFORMACOES DENTRO DO FORMULARIO */

.input-group{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 03px 04px 06px;
    background-color: #f1f1f1;
}

/* CABEÇALHO COM LOGO E TITULO DO FORMULARIO */

.header-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

img{
    height: auto;
    max-width: 100%;
}

.icon{
    margin: 0 auto;
    width: 100px;
    margin-bottom: 20px;
}

.titulo{
    text-align: center;
    font-size: 1.5rem;
    font-family: Bebas Neue;
    letter-spacing: 1px;
    color: #003866;
}

/* ESTILO DOS BOTÕES DE ESCOLHA DO SEXO */

.input-box-sexo{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sexo{
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
}

.sex{
    position: relative;
    margin-bottom: 6px;
    margin: 5px;
    width: 100px;
    max-width: 100%;
    height: 40px;
}

.sex input{
    transform: translateX(-45px);
    margin: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 2;
    opacity: 0%;
}

.txt-sex label{
    padding: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Calibri;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #ffffff;
}

.sex .txt-sex{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color:#003866;
}

input:checked + .txt-sex{
    background-color:#008cff;
}

/* ESTILO DOS INPUTS DE IDADE E ALTURA */

.idade-altura{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.input-box-idade{
    display: grid;
    margin-right: 10px;
}

.input-box-altura{
    display: grid;
}

label{
    font-family: Bebas Neue;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

input{
    text-align: center;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color: #b5d5ff;
}

/* ESTILO DO BOTAO */

button{
    margin: 0 auto;
    border: none;
    color: white;
    width: 100px;
    height: 34px;
    border-radius: 6px;
    cursor: pointer;
    background-color:#003866;
}

/* ESTILO DA BOX RESULTADO */

.box-result{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 90px;
}

.group-result{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 80%;
    height: 60%;
    max-height: 60%;
    border-radius: 20px;
    box-shadow: 03px 04px 06px;
    background-color: #f1f1f1;
}

.header-result{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
}

.result{
    padding-bottom: 30px;
    margin: 0 auto;
    width: 90%;
    height: auto;
    font-size: 1rem;
    font-family: Arial;
    text-align: justify;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Calibri;
    font-size: 1.2rem;
    color: #ffffff;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #003866;
}