/* ********** MEDIA QUERIES ********** */

/* TABLETS */

@media screen and (min-width: 768px) {

    .calculator-container {
        width: 70%;
        padding: 90px 45px;
    }

    .header-icon {
        width: 28%;
    }

    .header-title {
        font-size: 3.8rem;
    }

    /* ESTILOS DOS BOTÕES DE SELEÇÃO DE GÊNERO */

    .gender-title {
        font-size: 2.4rem;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .gender-buttons {
        width: 80%;
        margin: 0 auto;
    }

    .gender-option {
        height: 70px;
    }

    .gender-label {
        font-size: 1.6rem;
    }


    .group-age-heigth {
        width: 80%;
        margin: 20px auto;
    }

    .input-label {
        font-size: 2.4rem;
        margin-top: 20px;
        margin-bottom: 4px;
    }

    .input-field {
        height: 70px;
        font-size: 1.8rem;
    }

    /* ESTILO DO BOTÃO CALCULAR */

    #calculate-button {
        width: 78%;
        height: 70px;
        font-size: 1.8rem;
    }

}