/* Celulares Dobráveis */

@media screen and (min-width: 280px) {

    .form{
        width: 220px;
        height: 96.5vh;
    }

    .titulo{
        font-size: 1.4rem;
    }

    .input-group{
        padding: 30px;
        width: 96%;
    }

    .input-box-sexo{
        margin: 0 auto;
    }

    .sex{
        width: 90px;
    }

    .txt-sex label{
        font-size: 0.8rem;
    }

    .idade-altura{
        width: 80%;
    }

    label{
        font-size: 20px;
    }

    input{
        width: 88px;
    }

    .group-result{
        height: 100%;
    }

    .resultado{
        font-size: 0.5rem;
    }

}

/* Celulares */

@media screen and (min-width: 375px) {

    .form{
        width: 320px;
        height: 96.5vh;
    }

    .titulo{
        font-size: 1.4rem;
    }

    .input-group{
        width: 96%;
    }

    .input-box-sexo{
        margin: 0 auto;
    }

    .sex{
        width: 90px;
    }

    .txt-sex label{
        font-size: 0.8rem;
    }

    .idade-altura{
        width: 80%;
    }

    label{
        font-size: 20px;
    }

    input{
        width: 88px;
    }

    .group-result{
        width: 96%;
    }

    .resultado{
        font-size: 0.8rem;
    }

}


/* Tablets */

@media screen and (min-width: 540px) {

    .input-group{
        padding: 40px;
        width: 100%;
        height: 80vw;
    }

    .box-result{
        width: 400px;
    }
}

@media screen and (min-width: 768px) {


    .form{
        width: 500px;
    }

    .input-group{
        width: 100%;
        height: 80vw;
    }

    .icon{
        width: 200px;
    }

    .titulo{
        font-size: 2.5em;
    }

    label{
        font-size: 2rem;
    }

    .sex {
        width: 200px;
        height: 60px;
    }

    .sex input{
        transform: translateX(-100px);
    }

    .txt-sex label {
        font-size: 1.5rem;
    }

    .idade-altura {
        width: 100%;
    }

    input{
        font-size: 1.4rem;
        width: 200px;
        height: 50px;
    }

    button {
        width: 200px;
        height: 50px;
        font-size: 1.4rem;
    }

    .box-result{
        width: 600px;
    }

}

/* Desktops */

@media screen and (min-width: 1024px) {

    .container{
        width: 100%;
    }

    .form{
        width: 300px;
        height: 96.5vh;
    }

    .input-group{
        padding: 40px;
        height: auto;
    }

    .icon{
        width: 100px;
    }

    .titulo{
        font-size: 1.8em;
    }

    label{
        font-size: 1.6rem;
    }

    .sex {
        width: 100px;
        height: 40px;
    }

    .sex input{
        transform: translateX(-45px);
    }

    .txt-sex label {
        font-size: .9rem;
    }

    .idade-altura {
        width: 100%;
    }

    input{
        font-size: 1.1rem;
        width: 100px;
        height: 40px;
    }

    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 36px;
        font-size: .9rem;
    }

    .box-result{
        width: 350px;
        height: auto;
        margin-bottom: 40px;
    }

    .group-result{
        padding: 10px;
        height: auto;
    }
}