@import url('https://fonts.cdnfonts.com/css/bebas-neue');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.container {
    height: 100vh;
}


/* ESTILOS GERAIS DO FORMULÁRIO */

.calculator-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

.calculator-container {
    width: 70%;
    padding: 30px;
    text-align: center;
    border-radius: 6px;
    background-color: #F1F1F1;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.form-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.header-icon {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header-title {
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Bebas Neue';
    color: #003866;
}


/* ESTILOS DOS BOTÕES DE SELEÇÃO DE GÊNERO */

.input-group {
    display: flex;
    margin-bottom: 20px;
}

.gender-group {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.gender-title {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: 'Bebas Neue';
}

.gender-buttons {
    display: flex;
    margin-bottom: 10px;
}

.gender-option {
    width: 100%;
    height: 46px;
    margin-inline: 6px;
    position: relative;
}

.gender-input {
    margin: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 2;
    opacity: 0%;
    left: 0;
}

.gender-label {
    padding: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Calibri';
    font-size: 1rem;
    letter-spacing: 1px;
    color: #ffffff;
}

.gender-option .gender-label {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #003866;
}

.gender-input:checked+.gender-label {
    background-color: #008cff;
}


/* ESTILO DOS INPUTS DE IDADE E ALTURA */

.age-box,
.height-box {
    display: flex;
    flex-direction: column;
    margin-inline: 6px;
}

.input-label {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: start !important;
    font-family: 'Bebas Neue';
}

.input-field {
    border: none;
    width: 100%;
    height: 44px;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
    background-color: #b5d5ff;
}


/* ESTILO DO BOTÃO CALCULAR */

#calculate-button {
    border: none;
    color: #FFF;
    width: 96%;
    height: 48px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #003866;
}


/* ESTILO DA SEÇÃO DE RESULTADO */

.results-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
}

.results-container {
    width: 80%;
    aspect-ratio: 1/1;
    padding: 40px 25px;
    border-radius: 6px;
    background-color: #f1f1f1;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.results-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-icon {
    width: 25%;
    margin-bottom: 14px;
}

.results-title {
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    color: #003866;
    margin-bottom: 20px;
}

.results-text {
    color: #000;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    text-align: justify;
}

.results-btn {
    cursor: pointer;
    color: #FFF;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2rem;
    margin-top: 20px;
    background: #008cff;
}


/* ESTILO DA SEÇÃO FOOTER */

.footer {
    font-family: Calibri;
    font-size: 1.2rem;
    padding: 8px;
    color: #FFF;
    height: 40px;
    text-align: center;
    background-color: #003866;
}


/* ********** MEDIA QUERIES ********** */

/* TABLETS */

@media screen and (min-width: 768px) {

    .calculator-container {
        width: 65%;
        padding: 90px 45px;
    }

    .header-icon {
        width: 28%;
        margin-bottom: 25px;
    }

    .header-title {
        font-size: 3.8rem;
    }

    /* ESTILOS DOS BOTÕES DE SELEÇÃO DE GÊNERO */

    .gender-title {
        font-size: 2.4rem;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .gender-buttons {
        width: 80%;
        margin: 0 auto;
    }

    .gender-option {
        height: 70px;
    }

    .gender-label {
        font-size: 1.6rem;
    }


    .group-age-heigth {
        width: 80%;
        margin: 20px auto;
    }

    .input-label {
        font-size: 2.4rem;
        margin-top: 20px;
        margin-bottom: 4px;
    }

    .input-field {
        height: 70px;
        font-size: 1.8rem;
    }

    /* ESTILO DO BOTÃO CALCULAR */

    #calculate-button {
        width: 78%;
        height: 78px;
        font-size: 1.8rem;
    }

    .footer {
        padding-top: 20px;
        font-size: 1.6rem;
        height: 50px;
    }


    /* ESTILOS DO MODAL DE RESULTADO */

    .results-container {
        width: 70%;
        border-radius: 8px;
        padding: 70px 40px;
    }

    .results-text {
        line-height: 2.2rem;
        font-size: 1.6rem;
    }

    .results-btn {
        height: 60px;
        font-size: 1.6rem;
    }

}

/* DESKTOP */

@media screen and (min-width: 1024px) {

    .calculator-container {
        width: 30%;
        padding: 40px 20px;
    }

    .header-icon {
        width: 20%;
        margin-bottom: 15px;
    }

    .header-title {
        font-size: 2.6rem;
    }

    /* ESTILOS DOS BOTÕES DE SELEÇÃO DE GÊNERO */

    .gender-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .gender-buttons {
        width: 80%;
        margin: 0 auto;
    }

    .gender-option {
        height: 48px;
    }

    .gender-label {
        font-size: 1.1rem;
    }


    .group-age-heigth {
        width: 80%;
        margin: 0px auto;
        margin-bottom: 20px;
    }

    .input-label {
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .input-field {
        height: 48px;
        font-size: 1rem;
    }

    /* ESTILOS DO BOTÃO CALCULAR */

    #calculate-button {
        width: 76%;
        height: 50px;
        font-size: 1.2rem;
    }

    .footer {
        padding-top: 20px;
        margin-top: 20px;
        font-size: 1.6rem;
        height: 40px;
    }

    /* ESTILOS DO MODAL DE RESULTADO */

    .results-container {
        width: 40%;
        border-radius: 6px;
        padding: 30px 40px;
    }

    .results-icon {
        width: 20%;
    }

    .results-title {
        font-size: 2.8rem;
    }

    .results-text {
        margin-top: 10px;
        line-height: 1.8rem;
        font-size: 1.2rem;
    }

    .results-btn {
        height: 54px;
        font-size: 1.4rem;
    }

}